li.int {
  @apply bg-white border border-blue-400;
}
#item-hover:hover {
  background-color: #FF4500;
}
li.int.gift::after {
  font-family: "Material Symbols Outlined";
  content: "\ef91";
}
li.int.share::after {
  font-family: "Material Symbols Outlined";
  content: "\e80d";
}
li.int.like::after {
  font-family: "Material Symbols Outlined";
  content: "\e8dc";
}
