li {
  font-size: 30px;
  @apply bg-slate-100 hover:bg-white shadow-sm rounded-lg border border-gray-200 items-center;
}
li::after {
  list-style-position: inside;
  cursor: pointer;
  padding: 20px;
  z-index: 1;
}
li.home::after {
  font-family: "Material Symbols Outlined";
  content: "\e587";
}
li.messages::after {
  font-family: "Material Symbols Outlined";
  content: "\e158";
}
li.settings::after {
  font-family: "Material Symbols Outlined";
  content: "\e726";
}
