.nav {
  @apply justify-evenly w-full list-none bottom-0 top-0 h-full left-0 border border-blue-400 p-6;
}
li {
  font-size: 30px;
  @apply bg-blue-100 hover:bg-white shadow-sm rounded-lg;
}
li::after {
  list-style-position: inside;
  cursor: pointer;
  padding: 20px;
  z-index: 1;
}
li.home::after {
  font-family: "Material Symbols Outlined";
  content: "\e587";
}
li.messages::after {
  font-family: "Material Symbols Outlined";
  content: "\e158";
}
li.settings::after {
  font-family: "Material Symbols Outlined";
  content: "\e726";
}
