.ui-mode {
  @apply flex flex-col rounded-lg bg-slate-100 w-min list-none flex-nowrap justify-center mt-5 mb-5;
}
.ui-mode > * {
  @apply ml-2 p-5;
}
.switch-menu {
  @apply flex flex-row gap-2 mx-auto text-sm;
}
.switch-menu > * {
  @apply text-lg p-4;
}
.list-item::after{
  font-family: "Material Symbols Outlined";
  content: "\e518";
}
.list-item:active,
.list-item:focus-within {
  @apply bg-white cursor-pointer;
}
.list-item{
  @apply bg-white;
}
.list-item_dark{
  @apply bg-black;
}
.list-item_dark::after {
  font-family: "Material Symbols Outlined";
  content: '\e51c';
}
.list-item_light::after {
  font-family: "Material Symbols Outlined";
  content: "\e518";
}
