div {
  margin: 0;
  padding: 0;
  scrollbar-gutter: auto;
}
.iphone-frame {
  width: 60vh;
  height: 85vh;
  align-items: center;
  flex-direction: column;
  border: 12px solid rgb(216, 216, 216);
  border-radius: 10px;
  margin-top: 5vh;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}
.iphone-screen {
  width: 100%;
  /* border: 1px solid red; */
  height: 100%;
  background: #fff; /* Simulate the screen color */
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  /* justify-content: space-between; */
}
