/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Reddit Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 960px;
  display: flex;
  margin: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Dark/Light Theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="light"] {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@layer components {
  div {
    @apply mb-2 text-blue-500 flex flex-col;
  }
  .container {
    @apply flex text-center rounded-lg p-6 bg-blue-100 absolute w-48 h-min;
  }
}
